.login-card {
    width: 500px;
    margin: 180px auto;
    border-radius: 50px !important;
}

#login-title {
    font-size: 32px;
    color: orangered;
}

#login-tip {
    font-size: 20px;
    color: darkolivegreen;
}

.login-btn {
    margin-top: 10px;
}

.loginForm {
    margin: 0 auto;
    padding: 0px 100px 0px 100px;
}